ul.nav {
    background-color: #036;
    color: white;
    float: left;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
}

ul.nav li {
    display: inline;
}

ul.nav li a {
   background-color: #036;
   border-right: 1px solid #fff;
   color: White;
   float: left;
   padding: 0.2em 1em;
   text-decoration: none;
}

ul.nav li a:hover {
    background-color: #369;
    color: white;
}

a.add:before {
    content: '+';
}

